<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carl.study.ssm.mapper.ConfigMapper">

    <resultMap type="Student" id="qryStudentByNameMap">
        <id property="id" column="id"/>
        <!-- 
            org.apache.ibatis.type.EnumOrdinalTypeHandler: 通过匹配枚举值定义的顺序， 确定枚举值
            org.apache.ibatis.type.EnumTypeHandler:通过枚举值的名字，确定枚举值
         -->
        <result property="sex" column="sex" typeHandler="com.carl.study.ssm.handler.EnumFlagTypeHandler"/>
    </resultMap>
    <select id="qryStudentByName" resultMap="qryStudentByNameMap">
        select * from t_student t where t.name like "%carl%"
    </select>
    
    <insert id="insertStudentByEnum" parameterType="Student">
        <selectKey keyColumn="id" order="AFTER" resultType="long">
            select last_insert_id()
        </selectKey>
<!--          <selectKey keyProperty="id" order="AFTER" resultType="long"> -->
<!--            SELECT LAST_INSERT_ID() -->
<!--        </selectKey> -->
        insert into t_student (name, sex) values(#{name}, #{sex, typeHandler=com.carl.study.ssm.handler.EnumFlagTypeHandler})
    </insert>
</mapper>